<div class="col-xs-12">
	<section class="app-widget">
		<header class="app-widget-header">
			<h5 class="leagues-title">Players</h5>
			<a ui-sref="admin.player" class="add-player"><i class="fa fa-plus-square"></i></a>
			<div class="clear-both"></div>
		</header>
		<div class="app-widget-body">
			<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>
			<ul class="list player-list">
				<li ng-repeat="player in players">
					<p class="col-xs-8 col-sm-9 player-name">{{ ::player.firstName }} {{ ::player.lastName }}</p>
					<div class="col-xs-4 col-sm-3 app-functions">
						<div class="app-function">
							<a ng-click="deletePlayer(player._id,player.firstName,player.lastName)"><i class="fa fa-trash"></i></a>
						</div>
						<div class="app-function">
							<a ui-sref="admin.player({playerId: player._id})"><i class="fa fa-edit"></i></a>
						</div>
					</div>
					<div class="clear-both"></div>
				</li>
			</ul>
		</div>

		<!-- Delete Player Modal -->
		<script type="text/ng-template" id="deletePlayerModal.html">
	        <div class="modal-header">
	            <h5 class="modal-title">Are you sure you want to delete {{ ::playerName }}?</h5>
	        </div>
	        <div class="modal-footer">
	            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	        </div>
	    </script>

	</section>
</div>