 <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
   <span class="sr-only">Toggle Navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Fantasy Football</a>
 </div> 
 <ul class="nav navbar-top-links navbar-right" ng-if="isUserAuthenticated()">
  <li class="search">
   <div class="input-group custom-search-form">
	<input type="text" class="form-control" placeholder="Search...">
    <span class="input-group-btn">
     <button class="btn btn-default" type="button">
      <i class="fa fa-search"></i>
     </button>
    </span>
   </div>
  </li>
  <li class="dropdown">
   <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
   </a>
   <ul class="dropdown-menu dropdown-user">
    <li>
     <a ui-sref="my-profile">
      <i class="fa fa-fw fa-user"></i>
       User Profile
     </a>
    </li>
    <li>
      <a>
        <i class="fa fa-fw fa-inbox"></i>
     	 Messages
      </a>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li>
      <a ng-click="logout()">
        <i class="fa fa-sign-out fa-fw"></i>
         Logout
      </a>
    </li>
   </ul>
  </li>
 </ul>